table {
    border: 1px solid #FFFFFF;
    font-family: "Times New Roman", Times, serif;
}

th, td {
    border: 1px solid #FFFFFF;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}

table thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}

table tr:nth-child(even) {
    background: #D0E4F5;
}

table thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #FFFFFF;
}

table thead th:first-child {
    border-left: none;
}

table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}

table tfoot td {
    font-size: 14px;
}